* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 350px;
    background-color: #F6F6F6;
    border-radius: 10px;
    overflow: hidden;
}

.container .header{
    padding: 10px;
    background-color: #E1EAEB;
    color: #046974;
    text-align: center;
}

.form{
    padding: 10px;
}

.form-control input{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    height: 35px;
}

.form-control input:focus{
    outline: 0;
}


.btn input{
    width: 100%;
    padding: 5px;
    background-color: #3D9DB3;
    color: #fff;
    font-size: 18px;
    border: 0;
    border-radius: 10px;
}

.btn input:hover{
    background-color: #4A5F6A;
    cursor: pointer;
}

/* .btn input[type=submit]:hover{
    background-color: red;
} */   

